.contacthead {
  text-align: center;
}

form {
  background-color: $card-color;
  border-radius: 8px;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  height: 350px;
  width: 80%;

  #submit {
    background-color: darkgray;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-top: 10px;
  }

  #submit:hover {
    background-color: $text-color;
    color: $card-color;
  }

  label {
    color: $text-color;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
  }

  input,
  textarea {
    border-radius: 5px;
    width: 70%;
  }

  #submit {
    margin-top: 40px;
    width: 25%;
  }
}

.lengthErr,
.emailErr {
  color: red;
  display: none;
}
