.brand {
  background-color: cornsilk;
  border: 5px solid $card-color;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 10px 10px 20px 20px;
  width: 75%;
}

.brandTitle {
  margin-top: 35px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slide {
  display: none;
}

.slide.active {
  background-color: cornsilk;
  border: 5px solid $card-color;
  border-radius: 5px;
  display: block;
  width: 40%;

  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/**
 * ----------------------------------------
 *  tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

tracking-in-expand {
  border: 1px solid red;
  justify-items: center;
  align-items: center;
  text-align: center;
  -webkit-animation: tracking-in-expand1 0.7s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand1 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
