.about-me {
  #bio {
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .Collapsible__trigger:hover {
      -webkit-animation: vibrate-1 0.3s linear infinite both;
      animation: vibrate-1 0.3s linear infinite both;
    }
  }

  #profile-pic {
    color: $text-color;
    border: 3px solid $main-color;
    height: 400px;
    width: 270px;
    margin-bottom: 30px;
  }

  .profLinks {
    background-color: $card-color;
    border-radius: 8px;
    text-align: center;
    margin-top: -20px;
    padding: 5px 0;
    width: 70%;

    a {
      color: $main-color;
    }
  }

  text-align: center;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.5s both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.hidden {
  display: none;
}

.hover {
  color: $text-color;
  margin-bottom: 15px;
  -webkit-animation: wobble-hor-bottom 2.5s 3s infinite both;
  animation: wobble-hor-bottom 2.5s 3s infinite both;
}

.skillbox {
  margin-top: 50px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;

  .Skills:hover,
  .Tools:hover,
  .WebLang:hover,
  .ProgLang:hover {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  .Skills__trigger:hover,
  .Tools__trigger:hover,
  .WebLang__trigger:hover,
  .ProgLang__trigger:hover {
    opacity: 0.5;
    text-decoration: underline;
  }

  .Skills,
  .Tools,
  .WebLang,
  .ProgLang {
    background-color: $card-color;
    border-radius: 8px;
    color: $main-color;
    padding: 10px;
    margin-bottom: 20px;

    .Skills__contentInner,
    .Tools__contentInner,
    .WebLang__contentInner,
    .ProgLang__contentInner {
      margin: 20px 0px;
      background-color: $card-color;
      border-radius: 3px;
      visibility: hidden;

      li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px 0;
        list-style: none;
        margin-top: 10px;

        img {
          border: none;
          height: 40px;
          width: 40px;
        }
      }

      .skill {
        grid-template-columns: 1fr;
      }
    }

    ul {
      margin: 20px;
    }
  }
}
