.about-me {
  #bio {
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .Collapsible__trigger:hover {
      -webkit-animation: vibrate-1 0.3s linear infinite both;
      animation: vibrate-1 0.3s linear infinite both;
    }
  }

  #profile-pic {
    color: $text-color;
    border: 3px solid $main-color;
    height: 400px;
    width: 270px;
    margin-bottom: 30px;
  }

  .profLinks {
    background-color: $card-color;
    border-radius: 8px;
    text-align: center;
    margin-top: -20px;
    padding: 5px 0;
    width: 70%;

    a {
      color: $main-color;
    }
  }

  text-align: center;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.hidden {
  display: none;
}

.hover {
  color: $text-color;
  margin-bottom: 15px;
  -webkit-animation: wobble-hor-bottom 2.5s 3s infinite both;
  animation: wobble-hor-bottom 2.5s 3s infinite both;
}

.skillbox {
  margin-top: 50px;
}
