@import 'config';

.portfolio {
  text-align: center;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;

  .portContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ExOrb:hover,
    .TeeTime:hover,
    .Scrabble:hover {
      -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
      animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }

    .ExOrb__trigger:hover,
    .TeeTime__trigger:hover,
    .Scrabble__trigger:hover {
      opacity: 0.5;
      text-decoration: underline;
    }

    .ExOrb,
    .TeeTime,
    .Scrabble {
      background-color: $card-color;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 20px;

      .TeeTime__contentInner,
      .ExOrb__contentInner,
      .Scrabble__contentInner {
        margin: 20px 0px;
        background-color: $card-color;
        border-radius: 8px;
        visibility: hidden;
      }
    }

    a {
      margin-top: 20px;
      padding: 10px;
    }

    h2 {
      background-color: $card-color;
      padding: 10px 0 20px 0;
    }

    h4 {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 25px;
      border-bottom: $card-color 3px solid;
    }

    .hover {
      margin-bottom: 15px;
      -webkit-animation: wobble-hor-bottom 2.5s 3s infinite both;
      animation: wobble-hor-bottom 2.5s 3s infinite both;
    }

    img {
      margin-bottom: 35px;
    }
  }
}

.portAnchors {
  color: $main-color;
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
  a {
    color: $main-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.portImages {
  border: $text-color 1px solid;
  height: 300px;
  width: 300px;
}
.portImagesWide {
  border: $text-color 1px solid;
  height: 300px;
  width: 400px;
}
