; begin auth token
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/registry/:username=dustinguyjackson
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/registry/:_password=cnEyMjd5cG02enlmdnd4Y3FpdnhhMzZiZG82b2FxNGVyZnlhbmNiZGRuNGkyeWx1cjRvYQ
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/:username=dustinguyjackson
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/:_password=cnEyMjd5cG02enlmdnd4Y3FpdnhhMzZiZG82b2FxNGVyZnlhbmNiZGRuNGkyeWx1cjRvYQ
//pkgs.dev.azure.com/dustinguyjackson/_packaging/dustinguyjackson/npm/:email=npm requires email to be set but doesn't use the value
; end auth token